<h2>ALL TASKS</h2>

<% @tasks.each do |task| %>
  <div class="all-tasks">
    <h4>
      <a href="/tasks/<%= task.id %>"><%= task.title %></a>
    </h4>
    <a href="/tasks/<%= task.id %>/edit">Edit</a>
    <form action="/tasks/<%= task.id %>" method="POST">
      <input type="hidden" value="DELETE" name="_method">
      <input type="submit" value="Delete">
    </form>
  </div>
<% end %>
