<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style.css">
    <title>Task Manager</title>
  </head>

  <body>
    <div class="container">
      <header>
        <ul>
          <li><a href="/tasks/dashboard">Home</a></li>
          <li><a href="/tasks">All Taks</a></li>
          <li><a href="/tasks/new">New Task</a></li>
        </ul>
      </header>
      <%= yield %>
      <footer id="footer">
        <p><a target="_blank" href="https://github.com/vanegomez/task_manager">Vane's Git Repo</a></p>
      </footer>
    </div><!--end container-->
  </body>
</html>

