<form action="/tasks" method="post">
  <h2>Enter a new task:</h2>
  <input type='text' name='task[title]'></br>
  <textarea name='task[description]'></textarea></br>
  <input type='submit' value="submit">
</form>
